name: Archive plugin artifact

permissions: read-all

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  build:
    name: Build and archive
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - uses: actions/setup-java@v3.13.0
        with:
          distribution: 'temurin'
          java-version: '11'
      - name: Build
        run: mvn -Dmaven.test.skip=true -Dspotbugs.skip=true --batch-mode --show-version clean install 
      - name: Archive
        uses: actions/upload-artifact@v3
        with:
          path: target/tuleap-git-branch-source.hpi
