name: Archive plugin artifact

permissions: read-all

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  build:
    name: Build and archive
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165 # v5.0.0
        with:
          distribution: 'temurin'
          java-version: '17'
      - name: Build
        run: mvn -Dmaven.test.skip=true -Dspotbugs.skip=true --batch-mode --show-version clean install 
      - name: Archive
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          path: target/tuleap-git-branch-source.hpi
