name: CI

permissions: read-all

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  tests-with-coverage:
    name: Tests with coverage
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - uses: actions/setup-java@v4.0.0
        with:
          distribution: 'temurin'
          java-version: '11'
      - name: Build
        run: mvn -Pjacoco clean verify --batch-mode --show-version
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3
        with:
          file: ./target/site/jacoco/jacoco.xml
