name: CI

permissions: read-all

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  tests-with-coverage:
    name: Tests with coverage
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165 # v5.0.0
        with:
          distribution: 'temurin'
          java-version: '17'
      - name: Build
        run: mvn -Pjacoco clean verify --batch-mode --show-version
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@5a1091511ad55cbe89839c7260b706298ca349f7 # v5.5.1
        with:
          file: ./target/site/jacoco/jacoco.xml
