name: CI

permissions: read-all

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  tests-with-coverage:
    name: Tests with coverage
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v2.3.4
      - uses: actions/setup-java@v2.3.0
        with:
          distribution: 'adopt'
          java-version: '8'
      - name: Build
        run: mvn -Pjacoco clean verify --batch-mode --show-version
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v2.0.2
        with:
          file: ./target/site/jacoco/jacoco.xml
